{% extends "base.html" %}
{% load static %}

{% block content %} 
<div id="cust" class="container-fluid">
   
          <div class="card-content">
            <h4>Hi, {{ full_name }}</h4>
            <p>Address: {{ data.address }}</p>
            <p>Phone Number: {{ data.phone }}</p>
            <p>Email: {{ email }}</p>
       
          </div>
              <tr><button class="button1">Order🛒</button></tr>
              <tr><button class="button1"><a href="{% url 'customer:view_edit_profile' %}"> Edit Profile </a></button></tr>

</div>
      
{% endblock %}
