
<form class="update_profile">
    {{ csrf_token }}
    <table>
        <tr>
            <td>Email: </td>
            <td><input type="text" name="email" value="{{ current_user.user.email }}"> </td>
        </tr>
        <tr>
            <td>First Name: </td>
            <td><input type="text" name="first_name" value="{{ current_user.user.first_name }}"></td>

        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" name="last_name" value="{{ current_user.user.last_name }}"> </td>

        </tr>
        <tr>
            <td>Address: </td>
            <td><input type="text" name="address" value="{{ current_user.address }}"> </td>

        </tr>
        <tr>
            <td>Phone Number: </td>
            <td><input type="text" name="phone" value="{{ current_user.phone }}"> </td>
        </tr>


    </table>
    <button class="submit_update">Save changes</button>
</form>
    <!-- So the current user username will be displayed on the input as a value -->
    
    <script type="text/javascript">
    $('.submit_update').on('click', function(){
                  $.ajax({
                 url: '/update_profile/',
                 method : 'POST',
                 data: $('.update_profile').serialize(),
                 beforeSend: function() {
                  // things to do before submit
                
                 },
                 success: function(response) {
    
                  alert(response)
                  }
                  });
      return false;
    
    });
    </script>